.alert-container {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 2.5rem;
  z-index: 10;
  background: transparent;

  .alert {
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .4rem;
    background-color: white;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  }

  .alert-error {
    color: $c-primary;
    border: 1px solid $c-primary;
  }
  .alert-success {
    color: $s-success;
    border: 1px solid $s-success;
  }
  .alert-info {
    color: $s-info;
    border: 1px solid $s-info;
  }
}