.bg-game {
  background: linear-gradient(
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.4)), url('../images/wood.jpg') center;
  background-size: cover;
  height: 100vh;
}

.above {
  z-index: 10;
}

#pot {
  display: inline-block;
  background-color: rgba(187, 52, 35, 0.8);
  color: white;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 50px;
}

.timer-container {
  width: 100%;
  height: 6px;
  background-color: $bg-white-transparent;
  border-radius: 10px;
  position: absolute;

  .timer {
    width: calc(100% - 4px);
    height: 2px;
    background-color: green;
    position: absolute;
    top: 2px;
    left: 2px;

    &.active {
      -webkit-animation-name: timer;
      -moz-animation-name: timer;
      -o-animation-name: timer;
      animation-name: timer;
      animation-duration: 10s;
      animation-timing-function: linear;
    }
  }
}

@keyframes timer {
  0% { width: calc(100% - 4px); }
  100% { width: 0; }
}