.bg-img-poker {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url("../images/poker.jpeg");

  .join-game-container {
    background: white;
    margin: 0 auto;
    padding: 6rem 3rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.6), 0 6px 30px 5px rgba(0,0,0,0.6), 0 8px 10px -7px rgba(0,0,0,0.6);
  }

    .left-spade, .right-spade {
      position: absolute;

      img {
        height: 3.5rem;
        width: auto;
      }

      div.card-value {
        font-size: 4rem;
      }

    }
    .left-spade {
      top: 0;
      left: 1rem;
    }
    .right-spade {
      right: 1rem;
      bottom: 0;
      transform: rotate(180deg);
    }

    .join-game-button-container {
      margin-top: 2rem;

      .btn-join-game {
        height: 6rem;
        line-height: 6rem;
        margin-bottom: 1.5rem;
      }

      .btn-profile {
        width: 100%;
      }

      .btn-logout {
        padding: .5rem;
        margin: 0;
        border: none;
        background: transparent;

        img {
          width: 30px;
        }
      }

    }

  }