.styles_modal__gNwvD {
  border-radius: 5px;

  .modal-content-container {
    min-width: 80rem;
    font-family: 'Merienda One', cursive;

    .stat-title-container {
      text-align: center;
      clear: both;
      img {
        width: 130px;
        height: auto;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 2rem;
      }
    }

    .stat-user-info-container {
      padding: 2rem 0;
      float: right;
    }

    form {
      padding-top: 4rem;
    }

    .stat-container {

      .row {
        padding: 1.5rem 0;
        font-size: 1.5rem;

        .column {
          padding: 0 2rem;
        }

        .column.column-50._left {
          border-right: 2px dashed $c-primary;
          width: 100%;
          justify-content: flex-end;
        }

          div.text-right {
            height: 40px;
            font-weight: bold;
            margin: 1rem 0;
            justify-content: flex-end;
          }
        }

        .stat-result {
          width: 45px;
          height: 45px;
          border: 2px solid black;
          font-weight: bold;
          border-radius: 100%;
          color: black;
          margin: 5px 0;
          position: relative;

          &:after {
            content: "";
            height: 2px;
            width: 20px;
            position: absolute;
            bottom: 9px;
            color: red;
            background: $c-primary;
          }
        }

      }

    }

  }

  .styles_closeButton__20ID4 {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
