$c-primary-dark: #ba000d;
//$c-primary: #ee4040;
$c-primary: #f44336;

$s-success: green;
$s-info: #1993ff;

$c-red: #db3e2b;

$bg-white-transparent: rgba(255, 255, 255, 0.7);
$bg-red-transparent: rgba(182, 22, 0, 0.9);